body{
    top:0;

    background:url("./background.jpg");
    background-repeat: repeat;
    
}
.heading{
border-radius:50px;
font-size:30px;
box-shadow:10px 10px 10px white;
}
.headin3{
    float:none;
}
.footer{
    bottom:0;
    margin-bottom:0;
    background-color:black;
    position:fixed;
    width:100%;
    line-height:50px;
    color:white;
    font-family: 'Poppins', sans-serif;
    
}
canvas{
border:5px solid black;
margin-top:290px;
border-radius:10px;
box-shadow:10px 10px 10px white;
}